
main {
  border-bottom: 8px solid #222;
}.benefits {   
 margin: 0 auto'
}
.benefit {
  display: flex;
  justify-content: center;
  border-top: 8px solid #222222;
  padding: 70px 20px;
}
.benefit-image {
  max-width: 90%;
}
.benefit-image img {
  width: 100%;
}

@media all and (max-width: 900px) {
  .benefit {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
 
  .benefit-content {
    order: 1;
  }
  .benefit-image {
    order: 2;
  }
}

.benefit:last-child {
  border-bottom: 8px solid #222222;
}
.benefit-content {
  max-width: 40%;
  margin-right: 40px;
}

@media all and (max-width: 900px) {
  .benefit-content {
    margin: 0;
    max-width: 70%;
    text-align: center;
  }
 
}

.benefit-content-title,
.benefit-content-text {
  color: white;
}
.benefit-content-title {
  font-size: 50px;
}
@media all and (max-width: 900px) {
  .benefit-content-title {
    font-size: 30px;
  }
  
}
.benefit-content-text {
  font-size: 25px;
}
@media all and (max-width: 900px) { 
  .benefit-content-text {
    font-size: 18px;
    
}
}
